.leftColumn {
  width: 400px;
  margin-right: 50px;
}

.rightcolumn {
  width: 400px;
  background-color: $primary-color;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.titleBlock {
  background-color: $quaternary-color;
  margin-bottom: 10px;
  font-size: x-large;
  padding: 5px;
  justify-content: center;
  color: $light;
}

.textBlock {
  background-color: $primary-color;
  font-size: x-large;
  padding: 8px;
  color: $light;
}

.itemBlock {
  background-color: $primary-color;
  color: $light;
  font-size: large;
  box-shadow: 10px 10px 5px lightgrey;
}
